
html, body {
    background-color: #21232A;
    color: white;
    font-family: Helvetica,Arial, sans-serif;
    font-size: 1.3rem; /* Rem Para manejar esos tamaños en diferentes pantallas */
    padding: 70px;
}

button {
    padding: 15px;
    font-size: 1.3rem;
    margin-right: 5px;
}